- cache ['v1', 'employee', @app_configuration, @employee] do
  %ol.breadcrumb{vocab: 'http://schema.org/', typeof: 'BreadcrumbList'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(root_path, property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=APP_NAME.capitalize
      %meta{property: 'position', content: '1'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(team_path, property: 'item', typeof: 'WebPage') do
        %span{property: 'name'} Equipo
      %meta{property: 'position', content: '2'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(sections_permalink_path(@employee.section.permalink), property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=@employee.section.name.capitalize
      %meta{property: 'position', content: '2'}
    %li.active=@employee.full_name

  .page-header
    %h1
      =@employee.full_name
      %small=@employee.degree

  .col-xs-12.col-sm-2.col-md-2.col-lg-2
    =image_tag(@employee.avatar_url, class: 'img-responsive img-circle', style: 'margin: 0 auto;', alt: @employee.full_name)
  .col-xs-12.col-sm-10.col-md-10.col-lg-10
    %h4="#{@employee.degree}. #{@employee.specialty}"
    %p=simple_format @employee.cv.html_safe
  .clearfix
  -if !@employee.posts.blank?
    %h3 Artículos
    %ul.list-unstyled
      %ul
        -@employee.posts.each do |post|
          -if post.categories.any?
            %li=link_to post.title, post_permalink_path(@employee.section.permalink, post.categories.first.permalink, post.permalink)
          -else
            =post.id

  %script{:type => "application/ld+json"}
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "headline": "#{@employee.full_name}",
      "jobTitle": "#{@employee.degree}",
      "affiliation": "#{APP_NAME}",
      "additionalName": "#{@employee.name}",
      "url": "#{employee_url(@employee.section.permalink, @employee.permalink)}",
      "email": "#{@employee.contact_email}",
      "telephone": "#{@employee.contact_phone}",
      "workLocation": {
        "@type": "Place",
        "address": {
          "@type" : "PostalAddress",
          "addressCountry": "Spain",
          "addressLocality": "#{@app_configuration.ciudad}",
          "postalCode": "#{@app_configuration.cp}",
          "streetAddress": "#{@app_configuration.calle}, #{@app_configuration.numero}"
        }
      },
      "worksFor": {
        "@type": "Organization",
        "url" : "http://#{ENV['HOST']}",
        "logo": "#{APP_LOGO}",
        "numberOfEmployees": "#{User.employers.count}",
        "telephone": "+34-#{@app_configuration.telefono_fijo}",
        "email": "#{@app_configuration.email}",
        "legalName": "#{APP_NAME.capitalize}",
        "location": {
          "@type" : "PostalAddress",
          "addressCountry": "Spain",
          "addressLocality": "#{@app_configuration.ciudad}",
          "postalCode": "#{@app_configuration.cp}",
          "streetAddress": "#{@app_configuration.calle}, #{@app_configuration.numero}"
        },
        "brand": {
          "@type": "PostalAddress",
          "logo": "#{APP_LOGO}"
        }
      }
    }