%p#notice= notice

%p
  %b Nombre:
  = @user.name
%p
  %b Apellidos:
  = @user.surname
%p
  %b Email:
  = @user.email
%p
  %b Teléfono:
  = @user.phone
%p
  %b Género:
  = @user.gender

= link_to users_path do
  .fa.fa-reply
  Volver
\|
= link_to edit_user_path(@user) do
  .fa.fa-pencil
  Editar