<div class="full-height" >
  <div class="row">
    <div class="jumbotron vertical-center">
      <div class="container text-center">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          <%= image_tag 'logo/full/confisio-big.png', class: 'img-responsive center-block', alt: 'Confisio' %>
          <%= home_link_to_sections %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full-height">
  <%= render 'carousel' %>
</div>

<div class="full-height">
  <div class="row">
    <%= render partial: 'posts/box', collection: Post.latest, as: :post %>
  </div>
</div>

<%= link_to('https://www.google.com/maps/place/Confisio/@40.440626,-3.6564194,17z/data=!4m5!3m4!1s0x0:0xd3d911e806f9b0e6!8m2!3d40.4414183!4d-3.6558397?hl=es-ES') do %>
  <div class="full-height">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3036.565191585531!2d-3.6564193571196424!3d40.4406259524151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3d911e806f9b0e6!2sConfisio!5e0!3m2!1ses!2ses!4v1501413692442" class="map-full full-height" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
<% end %>
