= form_for @setting, url: setting_path(@section.permalink) do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this discount from being saved:"
      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .form-group
      = f.label :base_price, 'Precio por sesión'
      = f.number_field :base_price, class: 'form-control', min: 0, max: 999, step: 0.01, required: true
    .form-group
      = f.label :meta_keywords, 'Palabras clave (separadas por coma)'
      = f.text_field :meta_keywords, class: 'form-control'
    .form-group
      = f.label :email
      = f.text_field :email, class: 'form-control'
  .col-xs-12.col-sm-6.col-md-4.col-lg-4
    .form-group
      = f.label :description, 'Descripción'
      = f.text_area :description, class: 'form-control'
    .actions.pull-right
      = f.submit 'Guardar', class: 'btn btn-primary'