<%= form_for([:admin, post], html: { multipart: true }) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :section_id, 'Sección' %>
    <%= form.select :section_id, Section.ordered.collect { |s| [ s.title.capitalize, s.id ] }, { include_blank: true }, class: 'form-control', id: :price_section_id %>
  </div>

  <div class="actions">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title,  class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'tinymce' %>
  </div>
  <br/>

  <p>
    <label>Imagen portada <small>Se ajusta sola, pero el tamaño ideal es 1200x450</small></label><br/>
    <%= image_tag(post.banner_url(:thumb)) if post.banner? %>
    <%= form.file_field :banner %>
    <%= form.hidden_field :banner_cache %>
  </p>

  <% if post.banner? %>
    <div class="checkbox">
      <label>
        <%= form.check_box :remove_banner %>
        Remove banner image
      </label>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :tag_list, 'Lista de Tags' %>
    <%= form.select :tag_list,
          form.object.tag_list.collect {|t| [t, t]}, {},
          class: 'form-control', multiple: true, id: 'post_tag_list'
    %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<br/>

<% content_for :javascript_ready do %>
  $('#post_tag_list').select2({
    language: '<%= I18n.locale %>',
    minimumInputLength: 2,
    tags: true,
    theme: "bootstrap",
    ajax: {
      url: "<%=  autocomplete_tags_admin_posts_path %>",
      dataType: 'json',
      delay: 250,
      method: 'POST',
      cache: true,
      data: function (params) {
        var csrf_name  = $("meta[name='csrf-param']").attr('content');
        var csrf_value = $("meta[name='csrf-token']").attr('content');
        var obj = { q: params.term };
        obj[csrf_name] = csrf_value;
        return obj;
      },
      processResults: function (data, params) {
        return {
          results: data.items,
        };
      }
    }
  });
<% end %>

