<%= form_for([:admin, discount]) do |form| %>
  <% if discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% discount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :section_id, 'Sección' %>
    <%= form.select :section_id, Section.ordered.collect { |s| [ s.title.capitalize, s.id ] }, { include_blank: true }, class: 'form-control', id: :price_section_id, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :discount_title, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :valid_to %>
    <%= form.datetime_select :valid_to, id: :discount_valid_to, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :value %>
    <%= form.text_field :value, id: :discount_value, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :discount_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :conditions %>
    <%= form.text_area :conditions, id: :discount_conditions, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
