= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, 'Título'
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :tag_list, 'Tags'
    %small
      Escribe la etiqueta y pulsa 'intro'.
    %br
    = f.hidden_field :tag_list, placeholder: 'Tags', class: 'input_post_tag_tex_field_hidden'
    = text_field_tag :tag_manager_list, nil, placeholder: 'Tags', class: 'input_post_tag_tex_field tm-input tm-input-success'
    :javascript
      jQuery(".input_post_tag_tex_field").tagsManager({
        prefilled: #{@post.tags.pluck(:name)},
        CapitalizeFirstLetter: false,
        replace: false,
        output: '.input_post_tag_tex_field_hidden'
      });
  .form-group
    = f.label :category_id, 'Sección'
    = f.select(:category_id, Category.all.collect {|u| [u.name, u.id]}, {:prompt => 'Select', class: 'form-control'}, onchange: "$.getScript('/categories/'+ $(this).val() +'/subcategories_selector?post_id=#{@post.id}')")
    #subcategories_selector
      =render partial: 'categories/subcategories_selector', locals: { post: @post, category: @post.category }
    -#
      = f.label :sub_category, 'Sub sección'

      = f.fields_for :subcategories, @post.subcategories do |sc|
        = sc.text_field :name, class: 'form-control'

      = f.fields_for :subcategories, @post.subcategories.new do |sc|
        = sc.text_field :name, class: 'form-control'
      -#=# f.fields_for :subcategories do |sc|
        =# sc.text_field :name, class: 'form-control'
        =# sc.select(:subcategory, [['Type A', 'Type A'],['Type B', 'Type B'],['Type C', 'Type C'],['Type D', 'Type D'],['Type E', 'Type E']],{ :prompt => "Please select"},{ :multiple => true, :size => 5 })
      
  .form-group
    = f.label :primary_image, 'Imagen portada (URL)'
    %small
      Si no pones ninguna se escogerá la primera incluida en el contenido del post
    = f.text_field :primary_image, class: 'form-control'

  .form-group
    = f.label :body, 'Contenido'
    = f.cktext_area :body, :cols => 40, :ckeditor => {:toolbar => 'mini', :language => 'es'}
  
  = f.submit 'Guardar', class: 'btn btn-primary pull-right'
  