%p#notice= notice

-content_for :right_colum do
  =render partial: 'posts/right_column/index', locals: { posts: @post.related_posts, current_post: @post }
.page-header
  %h1
    = @post.title
%br
%p
  = @post.body.html_safe

-if admin?
  = link_to 'Editar', edit_post_path(@post), class: 'btn btn-default'
= link_to 'Volver', posts_path, class: 'btn btn-default'
