<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
  <div class="list-group text-center">
    <div class="list-group-item list-group-item-first">
      <p class="h3">
        <b><%= pretty_price(discount) %></b>
      </p>
    </div>

    <div class="list-group-item">
      <h3 class="p"><%= discount.title.capitalize %></h3>
    </div>
    
    <% if discount.valid_to %>
      <div class="list-group-item">
        <i class="glyphicon glyphicon-time"></i>
        Caduca <%= l(discount.valid_to.to_date, format: :month_year) %>
      </div>
    <% end %>
    
    <% unless discount.description.blank? %>
      <div class="list-group-item">
        <%= discount.description.html_safe %>
      </div>
    <% end %>

    <% unless discount.conditions.blank? %>
      <div class="list-group-item">
        <small><%= discount.conditions.html_safe %></small>
      </div>
    <% end %>
    
    <div class="list-group-item">
      <%= link_to('Pedir cita ahora', contact_path, title: 'Pedir cita ahora', class: 'btn btn-primary btn-block btn-big') %>
    </div>
  </div>
</div>
