:plain
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "url" : "http://#{ENV['HOST']}",
      "logo": "#{APP_LOGO}",
      "email": "#{@app_configuration.email}",
      "legalName": "#{APP_NAME}",
      "numberOfEmployees": "#{User.employers.count}",
      "contactPoint" : [
        {
          "@type" : "ContactPoint",
          "telephone" : "+34-#{@app_configuration.telefono_movil}",
          "contactType" : "customer service",
          "areaServed" : "ES",
          "availableLanguage" : "Spanish"
        },
        {
          "@type" : "ContactPoint",
          "telephone" : "+34-#{@app_configuration.telefono_fijo}",
          "contactType" : "customer service",
          "areaServed" : "ES",
          "availableLanguage" : "Spanish"
        }
      ],
      "sameAs" : [
        "https://www.facebook.com/clinicaconfisio",
        "https://plus.google.com/111880488504173820946"
      ]
    }
  </script>
