.page-header
  %h1
    Contacta con nosotros
    %small Te resolvemos cualquier duda
.row
  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    %address{:itemscope => '', :itemtype => 'http://schema.org/LocalBusiness'}
      %span.hidden{:itemprop => 'name'}=APP_NAME
      %div{:itemprop => 'address', :itemscope => '', :itemtype => 'http://schema.org/PostalAddress'}
        %span{:itemprop => 'streetAddress'}="#{@app_configuration.calle}, #{@app_configuration.numero}"
        = succeed ',' do
          %span.hidden{:itemprop => 'addressLocality'}=@app_configuration.ciudad
        %span{:itemprop => 'postalCode'}=@app_configuration.cp
        %span{:itemprop => 'addressRegion'}=@app_configuration.ciudad
      .fa.fa-phone
      %span{:itemprop => 'telephone', title: @app_configuration.telefono_fijo}=format_phone_number @app_configuration.telefono_fijo
      %br/
      %span{title: @app_configuration.telefono_movil}
        .fa.fa-whatsapp
        =format_phone_number @app_configuration.telefono_movil
      %br/
      .fa.fa-envelope-o
      =mail_to(@app_configuration.email, @app_configuration.email, subject: 'Consulta información')

  .col-xs-12.col-sm-6.col-md-6.col-lg-6
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{ frameborder: "0", style: "border:0", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3036.5294147265954!2d-3.65584!3d40.44141799999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f31137e4ebb%3A0xd3d911e806f9b0e6!2sConfisio!5e0!3m2!1ses!2ses!4v1433542867501" }

%script{:type => "application/ld+json"}
  :cdata
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "url" : "http://#{ENV['HOST']}",
      "logo" : "http://#{ENV['HOST']}/assets/favicon/confisio-logo_196_196.png",
      "contactPoint" : [
        {
          "@type" : "ContactPoint",
          "telephone" : "+34-#{@app_configuration.telefono_movil}",
          "contactType" : "customer service",
          "areaServed" : "ES",
          "availableLanguage" : "Spanish"
        },
        {
          "@type" : "ContactPoint",
          "telephone" : "+34-#{@app_configuration.telefono_fijo}",
          "contactType" : "customer service",
          "areaServed" : "ES",
          "availableLanguage" : "Spanish"
        }
      ],
      "sameAs" : [
        "https://www.facebook.com/clinicaconfisio",
        "https://plus.google.com/111880488504173820946"
      ]
    }