<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confisio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= render 'layouts/flashes' %>
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center"><%= Settings.full_address %> | <%= Settings.phone %> | <%= mail_to(Settings.email, Settings.email, subject: 'Consulta información')%> </p>
      </div>
    </footer>
  </body>
</html>
