!!!
%html.confisio{lang: I18n.locale}
  %head{:itemscope => '', :itemtype => 'http://schema.org/WebSite'}
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %meta{ content: I18n.locale, 'http-equiv' => 'Content-Language' }
    %title{itemprop: 'name'}= @titulo ? "#{APP_NAME} · #{@titulo}" : "#{APP_NAME} · Fisioterapia y Psicología"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, async: true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    =render partial: 'application/admin_header'
    %section#application_content.container.application
      #application_flashes
        =render partial: 'application/flashes'
      = yield