<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Confisio<%= @title ? " · #{@title}" : ' · Fisioterapia, Psicología, Podología y Nutrición' %></title>
    

    <meta name="hostname" content="<%= request.host %>">
    <link rel="canonical" href="<%= request.original_url.split('?').first %>">

    <!-- Icons -->
    <link rel="fluid-icon" href="<%= image_url('logo/icon/confisio-32.svg') %>" title="Yoques">
    <link rel="mask-icon" href="<%= image_url('logo/icon/confisio-32.svg') %>" color="#000000">
    <%= favicon_link_tag('logo/icon/confisio-16.svg') %>

    <%= render 'layouts/social_meta_tags' %>

    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container application">
      <%= render 'layouts/flashes' %>
      <%= yield %>
      <hr/>
      <%= render 'free_calls/form' %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">
          <%= Settings.full_address %> | <%= Settings.phone %> | <%= mail_to(Settings.email, Settings.email, subject: 'Consulta información')%>
        </p>
      </div>
    </footer>
    <%= render('layouts/contact_banner') unless (params['controller'] == 'pages' && params['action'] == 'contact') %>
    <%= render 'json_ld/organization' %>

    <% render 'layouts/social_scripts' %>
  </body>
</html>
