<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag('logo/icon/confisio-16.svg') %>
    <title>Confisio<%= @title ? " · #{@title}" : ' · Fisioterapia, Psicología, Podología y Nutrición' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta http-equiv="Content-Language" content="es">
    <meta name="description" content="<%= @description ? @description : 'Clínica de fisioterapia, psicología, podología y nutrición en Madrid. Para nosotros es importante resolver tus dudas, y que entiendas las causas del problema, para hacerte participe del tratamiento y evitar recaidas. Personal colegiado en constante formación.'%>">
    <link rel="canonical" href="<%= (@meta_url and !@meta_url.blank?) ? @meta_url : root_url %>" itemprop= "url" hreflang="es">

    <meta content="Confisio" name="application-name">
    <meta content="#FFFFFF" name="msapplication-TileColor">

    <link rel="icon" href="<%= image_url('logo/full/confisio-big.svg') %>" type="image/svg+xml" >
    <link href="<%= image_url('logo/full/confisio-big.svg') %>" rel="fluid-icon" title="Confisio" >
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="apple-touch-icon-precomposed" sizes="57x57">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="apple-touch-icon-precomposed" sizes="60x60">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="apple-touch-icon-precomposed" sizes="120x120">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="apple-touch-icon-precomposed" sizes="76x76">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="apple-touch-icon-precomposed" sizes="152x152">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="icon" sizes="196x196" type="image/svg+xml">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="icon" sizes="96x96" type="image/svg+xml">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="icon" sizes="32x32" type="image/svg+xml">
    <link href="<%= image_url('logo/icon/confisio-16.svg') %>" rel="icon" sizes="16x16" type="image/svg+xml">
    <link href="<%= image_url('logo/icon/confisio-32.svg') %>" rel="icon" sizes="128x128" type="image/svg+xml">
    <meta content="<%=(@meta_image and !@meta_image.blank?) ? @meta_image : image_url('logo/full/confisio-small.svg') %>" name="msapplication-TileImage">
    <meta content="<%=(@meta_image and !@meta_image.blank?) ? @meta_image : image_url('logo/icon/confisio-32.svg') %>" name="msapplication-square70x70logo">
    <meta content="<%=(@meta_image and !@meta_image.blank?) ? @meta_image : image_url('logo/icon/confisio-32.svg') %>" name="msapplication-square150x150logo">
    <meta content="<%=(@meta_image and !@meta_image.blank?) ? @meta_image : image_url('logo/full/confisio-small.svg') %>" name="msapplication-square310x310logo">
    <meta content="<%=(@meta_image and !@meta_image.blank?) ? @meta_image : image_url('logo/full/confisio-small.svg') %>" name="msapplication-wide310x150logo">

    <meta content="773252546126437" property="fb:app_id">
    <meta content="<%= request.original_url %>" property="og:url">
    <meta content='Confisio' property="og:site_name">
    <meta content=Confisio<%= @title ? " · #{@title}" : ' · Fisioterapia, Psicología, Podología y Nutrición' %> property="og:title">
    <meta content="<%= @description ? @description : 'Clínica de fisioterapia, psicología, podología y nutrición en Madrid. Para nosotros es importante resolver tus dudas, y que entiendas las causas del problema, para hacerte participe del tratamiento y evitar recaidas. Personal colegiado en constante formación.'%>" property="og:description">

    <% if @meta_image and !@meta_image.blank? %>
      <meta content=@meta_image property="og:image">
      <meta content="image/png" property="og:image:type">
      <meta content="1200" property="og:image:width">
      <meta content="1200" property="og:image:height">
    <% else %>
      <meta content="<%= image_url('logo/full/confisio-big.png') %>" property="og:image">
      <meta content="image/png" property="og:image:type">
      <meta content="1200" property="og:image:width">
      <meta content="1200" property="og:image:height">

      <meta content="<%= image_url('logo/full/confisio-big.png') %>" property="og:image">
      <meta content="image/png" property="og:image:type">
      <meta content="1200" property="og:image:width">
      <meta content="620" property="og:image:height">
    <% end %>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-63077444-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container application">
      <%= render 'layouts/flashes' %>
      <%= yield %>
      <hr/>
      <%= render 'free_calls/form' %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">
          <%= Settings.full_address %> | <%= Settings.phone %> | <%= mail_to(Settings.email, Settings.email, subject: 'Consulta información')%>
        </p>
      </div>
    </footer>
    <%= render('layouts/contact_banner') unless (params['controller'] == 'pages' && params['action'] == 'contact') %>
    <%= render 'json_ld/organization' %>
  </body>
</html>
